{% extends "base.html" %}

{% block title %} Contato {% endblock %}

{% block styles %}
<style>
    body{
        background-image: url(static/images/fundo2.png);
    }
</style>
{% endblock %}

{% block content %}
    <h1>
        Entre em contato
    </h1>
    <p class="texto">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et bibendum odio.
    </p>
    <hr>
    
    <form>
         Seu e-mail: <br>
        <input type="text" name="e-mail"> <br>
        Assunto: <br>
        <input type="text" name="assunto"> <br>
        Descrição: <br>
        <textarea></textarea> <br>
        <input type="submit" value="Enviar">
    </form>
{% endblock %}