{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block styles %}
<style>
    body{
        background-image: url(static/images/fundo.png);
    }
</style>
{% endblock %}

{% block content %}
    <figure>
        <img src="/static/images/capa.png" alt="capa" class="center">
    </figure>
    
    <h1> Sobre a Universidade </h1>
    <p class="texto">
        Lorem <b> ipsum dolor </b> sit amet, consectetur adipiscing elit. Cras ullamcorper, libero sollicitudin euismod tincidunt, metus leo tincidunt augue, eget auctor purus nulla imperdiet turpis. Donec et bibendum odio. Ut porttitor velit a ipsum laoreet, ac sagittis ex tincidunt. Phasellus odio diam, placerat sed nulla eu, sagittis dictum nisl. Phasellus eu lacinia neque. Nam in turpis fringilla, egestas orci sed, pulvinar justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin id lorem placerat, ullamcorper diam at, semper ex. Ut eu quam sed nisl molestie iaculis. Pellentesque vestibulum ultricies accumsan. Pellentesque interdum velit sit amet odio vehicula, non fermentum nibh mollis. Sed lacus elit, mattis vel rutrum id, fermentum nec lacus. Aenean enim justo, imperdiet sed maximus sit amet, luctus sit amet sapien.
    </p>
    <p class="texto">
        Lorem <b> ipsum dolor </b> sit amet, consectetur adipiscing elit. Cras ullamcorper, libero sollicitudin euismod tincidunt, metus leo tincidunt augue, eget auctor purus nulla imperdiet turpis. Donec et bibendum odio. Ut porttitor velit a ipsum laoreet, ac sagittis ex tincidunt. Phasellus odio diam, placerat sed nulla eu, sagittis dictum nisl. Phasellus eu lacinia neque. Nam in turpis fringilla, egestas orci sed, pulvinar justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin id lorem placerat, ullamcorper diam at, semper ex. Ut eu quam sed nisl molestie iaculis. Pellentesque vestibulum ultricies accumsan. Pellentesque interdum velit sit amet odio vehicula, non fermentum nibh mollis. Sed lacus elit, mattis vel rutrum id, fermentum nec lacus. Aenean enim justo, imperdiet sed maximus sit amet, luctus sit amet sapien.
    </p>
{% endblock %}
